.forsp { display: none; }
@media screen and (max-width:900px) {
    .forsp { display: block; }
}

.main_movie { padding-top:100px; }
.main_movie .movie_block { position:relative; }
.main_movie .movie_block video { width:100%; height:680px; object-fit: cover; }
.main_movie .movie_block .movie_txt { width:100%; position:absolute; top:49%; left:50%; transform: translate(-50%, -52%); text-align:center; }
.main_movie .movie_block .movie_txt h2 { font-size:24px; color:#fefefe; line-height: 1.8; letter-spacing: 0.4em; font-weight: 100; padding-bottom:20px; }
.main_movie .movie_block .movie_txt h3 img { width:100%; max-width:460px; height:auto; margin:auto; }
.main_movie .movie_block .movie_txt p { padding-top:15px; color:#fefefe; font-size:18px; letter-spacing: 1em; font-family: 'Inter', sans-serif; }
@media screen and (max-width:900px) {
    .main_movie { padding-top:70px; }
    .main_movie .movie_block video { height:500px; }
    .main_movie .movie_block .movie_txt { width:100%; }
    .main_movie .movie_block .movie_txt h2 { font-size:17px; letter-spacing: 0.2em; }
    .main_movie .movie_block .movie_txt h3 img { width:70%; }
    .main_movie .movie_block .movie_txt p { font-size:14px; letter-spacing: 0.8em; }
}


.copy_block { padding-top:80px; padding-bottom:80px; background-color:#fefefe; text-align:center; position:relative; }
.copy_block .copy_content h2 { font-size:24px; font-weight: 100; letter-spacing: 0.5em; margin-bottom:40px; padding-bottom:45px; position:relative; display: inline-block; }
.copy_block .copy_content h2::after { content: ""; background-image: url("../../public/icon02.png"); position:absolute; bottom:0; left:20%; width:60%; height:20px; background-position:center; background-repeat: no-repeat; background-size: contain; }
.copy_block .copy_content p { letter-spacing: 2px; line-height: 2; padding-bottom:25px; }
.copy_block .copy_time { width:100%; max-width: 660px; background-color:#faf9f4; padding:30px; margin:auto; margin-top:50px; margin-bottom:30px; }
.copy_block .copy_time > p { display: inline-block; line-height: 1.8; padding:50px; width:100%; border:solid 1px #e4dfcc; font-size:20px; letter-spacing: 0.2em; box-sizing: border-box; }
.copy_block .copy_time > p span.copy_timeInfo { display: block; font-size:13px; letter-spacing: 0.1em; color:#666; }
@media screen and (max-width:900px) {
    .copy_block { padding-top:40px; padding-bottom:60px; }
    .copy_block .copy_content { width:84%; margin:auto; }
    .copy_block .copy_content h2 { font-size:18px; letter-spacing: 0.3em; }
    .copy_block .copy_content p { font-size:14px; text-align:left; line-height: 1.8; padding-bottom:20px; }
    .copy_block .copy_time { width:84%; margin-top:30px; padding:3%; }
    .copy_block .copy_time > p { padding:5%; font-size:15px;  }
    .copy_block .copy_time > p span.copy_timeInfo { font-size:10px; letter-spacing: 1px; }
}

.copy_block .photo_01 { margin-top:100px; width:100%; height:380px; overflow: hidden; position: relative; }
.copy_block .photo_01::before { content: "Yoroi Jinja"; position:absolute; bottom:4.4%; left:5%; color:rgba(255,255,255,0.5); font-size:18px; letter-spacing: 0.5em; font-family: 'Inter', sans-serif; z-index: 10; }
.copy_block .photo_01::after { content: ""; position:absolute; width:90%; height:90%; border:solid 1px rgba(255,255,255,0.5); top:5%; left:5%; }
.copy_block .photo_01 > div { width:100%; height:100%; clip-path: inset(0); }
.copy_block .photo_01 > div::after { content:""; width:100%; height:100%; background-image: url("../../public/photo01.jpg"); position: fixed; top:0; left:0; background-position: center; background-size: cover; background-repeat: no-repeat; z-index: 10; }
@media screen and (max-width:900px) {
    .copy_block .photo_01 { height:260px; margin-top:60px; }
    .copy_block .photo_01::before { font-size:14px; letter-spacing: 0.3em; }
}




.banner_block { background-color:#fefefe; padding-top:50px; padding-bottom:60px; }
.banner_block > div.banner_content { width:800px; height:400px; margin:auto; margin-bottom:40px; box-sizing: border-box; position:relative; }
.banner_block > div.banner_content::before { top:5%; left:-2.5%; background-color: #8bcb81; position:absolute; content: ""; width:0; height:1px; transition: all 0.3s linear; transition-delay: 0.3s; }
.banner_block > div.banner_content::after { bottom:5%; right:-2.5%; background-color: #8bcb81; position:absolute; content: ""; width:0; height:1px; transition: all 0.3s linear; transition-delay: 0.3s; }
.banner_block > div.banner_content:hover::before { width:105%; transition-delay: 0.3s; }
.banner_block > div.banner_content:hover::after { width:105%; transition-delay: 0.3s; }
.banner_block > div.banner_content.image_01 { background-image: url("../../public/banner01.jpg"); background-position: top left; background-repeat: no-repeat; background-origin: center center; background-size: contain; transition: all 0.3s linear; }
.banner_block > div.banner_content.image_02 { background-image: url("../../public/banner02.jpg"); background-position: top left; background-repeat: no-repeat; background-origin: center center; background-size: contain; transition: all 0.3s linear; }
.banner_block > div.banner_content.image_01:hover { filter: brightness(1.2); transform: scale(1.005); }
.banner_block > div.banner_content.image_02:hover { filter: brightness(1.2); transform: scale(1.005); }
.banner_block > div.banner_content > a { display: block; width:100%; height:100%; position:relative; color:#fefefe; }
.banner_block > div.banner_content > a::before { bottom:5%; left:-2.5%; background-color: #8bcb81; position:absolute; content: ""; width:1px; height:0; transition: all 0.3s linear; }
.banner_block > div.banner_content > a::after { top:5%; right:-2.5%; background-color: #8bcb81; position:absolute; content: ""; width:1px; height:0; transition: all 0.3s linear; }
.banner_block > div.banner_content > a:hover::before { height:90%; }
.banner_block > div.banner_content > a:hover::after { height:90%; }
.banner_block > div.banner_content > a > div.banner_title { position:absolute; top:51%; left:50%; width:100%; transform: translate(-50%,-50%); text-align:center; margin:auto; }
.banner_block > div.banner_content > a > div.banner_title p { font-size:24px; font-weight: 100; letter-spacing: 0.1em; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; margin:auto; }
.banner_block > div.banner_content > a > div.banner_title p::before { content:""; display: inline; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); width:200px; height:172px; background: url("../../public/icon01.png"); background-size: cover; background-repeat: no-repeat; background-position: center; }
.banner_block > div.banner_content > a:hover > div.banner_title p::after { transform-origin: center; transform: translate(-50%,-50%) scale(1.2);  }
.banner_block > div.banner_content > a > div.banner_info { position:absolute; top:50%; left:15%; transform: translate(-50%,-50%); }
.banner_block > div.banner_content > a > div.banner_info p { font-size:15px; font-weight: 100; letter-spacing: 0.01em; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; margin:auto; }
.banner_block > div.banner_content > a > div.banner_link { position:absolute; top: 50%; left:10%; transform: translate(-50%,-50%); }
.banner_block > div.banner_content > a > div.banner_link p { font-size:14px; font-weight: 100; letter-spacing: 0.1em; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; margin:auto; border:solid 0.8px #fff; padding:15px 5px 10px; transition: all 1s ease-in-out; }
.banner_block > div.banner_content > a:hover > div.banner_link p { position:relative; top:1px; background-color:rgba(240,240,240,0.3); }
.banner_block > div img { width:100%; vertical-align: bottom; }
@media screen and (max-width:900px) {
    .banner_block { padding-top:20px; padding-bottom:20px; }
    .banner_block > div.banner_content { height:280px; width:84%; margin:20px auto; }
    .banner_block > div.banner_content.image_01 { background-size: cover; background-position: center; }
    .banner_block > div.banner_content.image_02 { background-size: cover; background-position: center; }
    .banner_block > div.banner_content > a > div.banner_title p { font-size:16px; letter-spacing: 0.2em; }
    .banner_block > div.banner_content > a > div.banner_title p::after { width:150px; height:129px;  }
    .banner_block > div.banner_content > a > div.banner_info { left:20%; }
    .banner_block > div.banner_content > a > div.banner_info p { font-size:12px; line-height: 1.4; letter-spacing: 0.2em; }
    .banner_block > div.banner_content > a > div.banner_link { left:10%; }
    .banner_block > div.banner_content > a > div.banner_link p { font-size:12px; letter-spacing:0.05em; }

    .banner_block > div.banner_content::before { left:-5%; }
    .banner_block > div.banner_content::after { right:-5%; }
    .banner_block > div.banner_content.line_effect::before { width:110%; transition-delay: 0.3s; }
    .banner_block > div.banner_content.line_effect::after { width:110%; transition-delay: 0.3s; }
    .banner_block > div.banner_content.line_effect > a::before { height:90%; }
    .banner_block > div.banner_content.line_effect > a::after { height:90%; }
    .banner_block > div.banner_content > a::before { left:-5%; }
    .banner_block > div.banner_content > a::after { right:-5%; }
}

.banner_block .banner_flex { width:800px; display: flex; margin:100px auto; }
.banner_block .banner_flex > div { max-width:400px; width:50%; }
.banner_block .banner_flex > div > a img { width:100%; height: auto; transition: all 0.4s ease-in-out; object-fit: contain; }
.banner_block .banner_flex > div > a:hover img { transform: scale(0.98); filter: brightness(0.8); }
@media screen and (max-width:900px) {
    .banner_block .banner_flex { width:84%; max-width:400px; justify-content:center; flex-direction: column; margin:60px auto; }
    .banner_block .banner_flex > div { width: 100%; }
}

